body {
  font-family: 'Poppins', sans-serif; }

.boder {
  border: 1px solid #38444d; }

.button_open-modal {
  outline: none;
  border: none;
  background: transparent; }
  .button_open-modal i {
    font-size: 1.8rem;
    color: #5989a6;
    opacity: 0.3;
    transition: all 0.3s ease-in-out; }
    .button_open-modal i:hover {
      opacity: 1;
      color: #ff006a; }

body {
  background: #15202b;
  color: #f0f1f2; }

.sidebar {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  padding-right: 15px; }

.logo {
  max-width: 60px;
  max-height: 120px;
  border-bottom: 1px solid #f91880;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
  padding: 12px; }
  .logo img {
    width: 100%;
    object-fit: cover; }

.menu {
  flex: 1; }
  .menu-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .menu-item {
    font-size: 28px;
    list-style: none;
    color: #f0f1f2;
    font-weight: 300;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: all 0.3s ease-in; }
    .menu-item.active {
      color: #f91880; }
    .menu-item:hover:not(.active) {
      background-color: rgba(249, 24, 128, 0.2);
      color: rgba(249, 24, 128, 0.8); }

.account-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: 4px; }
  .account-menu:hover {
    cursor: pointer; }

.avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  background: transparent; }
  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .avatar span.dot {
    position: absolute;
    display: block;
    bottom: -2px;
    right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #999ea3;
    z-index: 1322; }
    .avatar span.dot.activate {
      background-color: #31a24c; }

.title_container {
  border-bottom: 1px solid #38444d;
  padding: 15px; }
  .title_container span {
    font-weight: 600;
    font-size: 20px;
    color: #f0f1f2; }

.profile .profile_container {
  padding: 15px; }
  .profile .profile_container .photo-cover_container {
    position: relative; }

.cover-image_area {
  position: relative; }
  .cover-image_area .cover-image {
    height: 300px; }
    .cover-image_area .cover-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px; }
  .cover-image_area .cover-image_actions {
    position: absolute;
    bottom: 0;
    right: 30px; }

.avatar-area {
  position: absolute;
  bottom: -80px;
  left: 30px; }
  .avatar-area .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff006a; }
    .avatar-area .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
  .avatar-area .avatar_action {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
    .avatar-area .avatar_action .button_open-modal {
      position: absolute;
      bottom: 40%;
      left: 37%; }
      .avatar-area .avatar_action .button_open-modal i {
        color: #f91880;
        transition: 0s;
        opacity: 1; }
        .avatar-area .avatar_action .button_open-modal i:hover {
          color: #f91880; }
  .avatar-area:hover .avatar_action {
    visibility: visible;
    opacity: 1;
    cursor: pointer; }
