.boder {
  border: 1px solid #38444d; }

body {
  background: #15202b;
  color: #f0f1f2; }

.sidebar {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  padding-right: 15px; }

.logo {
  max-width: 60px;
  max-height: 120px;
  border-bottom: 1px solid #f91880;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
  padding: 12px; }
  .logo img {
    width: 100%;
    object-fit: cover; }

.menu {
  flex: 1; }
  .menu-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .menu-item {
    font-size: 28px;
    list-style: none;
    color: #f0f1f2;
    font-weight: 300;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: all 0.3s ease-in; }
    .menu-item.active {
      color: #f91880; }
    .menu-item:hover:not(.active) {
      background-color: rgba(249, 24, 128, 0.2);
      color: rgba(249, 24, 128, 0.8); }

.account-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: 4px; }
  .account-menu:hover {
    cursor: pointer; }

.avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  background: transparent; }
  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .avatar span.dot {
    position: absolute;
    display: block;
    bottom: -2px;
    right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #999ea3;
    z-index: 1322; }
    .avatar span.dot.activate {
      background-color: #31a24c; }

.title_container {
  border-bottom: 1px solid #38444d;
  padding: 15px; }
  .title_container span {
    font-weight: 600;
    font-size: 20px;
    color: #f0f1f2; }

.title_container p {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 600; }
  .title_container p i {
    color: #5352ed;
    padding-right: 14px; }

.message_chat_name {
  padding: 24px 0;
  display: flex;
  align-items: center; }
  .message_chat_name .message_chat_icon {
    display: flex;
    justify-content: space-evenly; }
  .message_chat_name a {
    text-decoration: none;
    color: #5352ed; }
    .message_chat_name a:hover {
      opacity: 0.7;
      transition: .5s; }

.message_chat_page {
  height: 550px;
  overflow-y: scroll; }
  .message_chat_page .message_time_chat p {
    text-align: center;
    padding: 12px 0; }

.message_chat_page::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  border-radius: 5px; }

.message_chat_page::-webkit-scrollbar-thumb {
  background-color: #374950;
  border-radius: 5px; }

.message_chat_box ::after {
  content: "";
  display: block;
  clear: both; }

.message_received {
  margin-bottom: 12px;
  padding: 12px 0px;
  display: block; }
  .message_received .message_received_img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
    .message_received .message_received_img img {
      width: 100%;
      height: 100%;
      background-size: cover; }
  .message_received .message_received_msg {
    width: auto;
    padding: 0 0 0 12px;
    vertical-align: top;
    display: inline-block; }
  .message_received .message_received_text {
    width: 100%; }
    .message_received .message_received_text p {
      background: #374950 none repeat scroll 0 0;
      border-radius: 12px;
      padding: 6px 12px; }
    .message_received .message_received_text span {
      display: none; }
    .message_received .message_received_text:hover span {
      display: block;
      transition: 1s;
      font-size: 0.8rem;
      margin-top: -12px; }
    .message_received .message_received_text .message_received_time {
      float: right; }

.message_owner {
  float: right;
  width: 100%; }
  .message_owner .message_owner_img {
    float: right; }
  .message_owner .message_owner_msg {
    padding: 0 12px 0 0;
    vertical-align: top;
    float: right; }
  .message_owner .message_owner_text p {
    background-color: #5352ed; }
  .message_owner .message_owner_text .message_owner_time {
    float: left; }

.message_chat_send i {
  text-align: center;
  font-size: 1.3rem;
  color: #5352ed;
  padding-top: 6px; }
  .message_chat_send i:hover {
    opacity: 0.7;
    transition: .5s; }

.message_chat_send input {
  width: 100%;
  padding: 6px 12px;
  outline: none;
  border: none;
  color: #f0f1f2;
  background-color: #15202b;
  border: 1px solid #38444d;
  border-radius: 8px; }
