.boder {
  border: 1px solid #38444d; }

button {
  border: none;
  padding: 0 4px;
  background: transparent;
  color: #5989a6;
  border-radius: 50%;
  transition: 0.4s; }
  button i,
  button span {
    pointer-events: none; }
  button .pink {
    color: #e2225e; }
  button .green {
    color: green; }

.button_open-modal {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  color: #5989a6;
  opacity: 0.4;
  transition: all 0.3s ease-in-out; }
  .button_open-modal:hover i {
    opacity: 1;
    color: #f91880; }

.button_action-sm {
  color: #9e9e9e;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  transition: 0.4s;
  border: 0;
  background-color: transparent; }
  .button_action-sm:hover {
    color: #e2225e;
    background-color: rgba(153, 158, 163, 0.2); }

.displayName {
  text-decoration: none;
  font-weight: bold;
  color: #5989a6;
  transition: 0.3s; }
  .displayName:hover {
    text-decoration: underline;
    color: #e2225e; }

.username, .date {
  color: #999ea3;
  font-size: 13px; }

.date {
  flex: 1; }

body {
  background: #15202b;
  color: #f0f1f2; }

.sidebar {
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  padding-right: 15px; }

.logo {
  max-width: 60px;
  max-height: 120px;
  border-bottom: 1px solid #f91880;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 50%;
  padding: 12px; }
  .logo img {
    width: 100%;
    object-fit: cover; }

.menu {
  flex: 1; }
  .menu-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .menu-item {
    font-size: 28px;
    list-style: none;
    color: #f0f1f2;
    font-weight: 300;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: all 0.3s ease-in; }
    .menu-item.active {
      color: #f91880; }
    .menu-item:hover:not(.active) {
      background-color: rgba(249, 24, 128, 0.2);
      color: rgba(249, 24, 128, 0.8); }

.account-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: 4px; }
  .account-menu:hover {
    cursor: pointer; }

.avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  background: transparent; }
  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .avatar span.dot {
    position: absolute;
    display: block;
    bottom: -2px;
    right: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #999ea3;
    z-index: 1322; }
    .avatar span.dot.activate {
      background-color: #31a24c; }

.title_container {
  border-bottom: 1px solid #38444d;
  padding: 15px; }
  .title_container span {
    font-weight: 600;
    font-size: 20px;
    color: #f0f1f2; }

.post_form-container {
  display: flex;
  padding: 15px;
  border-bottom: 8px solid #38444d; }

.user_image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1fa2f1; }
  .user_image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }

.textarea_container {
  flex: 1;
  padding-left: 15px; }
  .textarea_container textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 18px;
    outline: none;
    height: 68px;
    background-color: transparent;
    color: #999ea3; }
    .textarea_container textarea::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: #999ea3; }
    .textarea_container textarea::-webkit-scrollbar {
      width: 4px;
      background-color: #999ea3; }
    .textarea_container textarea::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #5989a6; }
  .textarea_container #submitPostButton {
    background-color: #f91880;
    padding: 6px 13px;
    border-radius: 40px;
    border: none;
    color: white; }
    .textarea_container #submitPostButton:disabled {
      background-color: #c5476f; }

.post {
  flex-shrink: 0;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #38444d; }
  .post:first-child {
    margin-top: 15px; }
  .post_main-content-container {
    flex: 1;
    display: flex; }

.post_content-container {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .post_content-container a,
  .post_content-container span {
    padding-right: 5px; }

.post_header {
  align-items: center;
  display: flex; }

.post_body {
  flex: 1;
  padding-top: 8px;
  padding-bottom: 15px; }

.post_footer {
  display: flex;
  align-items: center; }

.reply_flag {
  margin-bottom: 5px;
  font-size: 14px; }
  .reply_flag a {
    color: #1fa2f1; }

.post_button-container {
  flex: 1; }
  .post_button-container button {
    color: #999ea3; }
    .post_button-container button:hover {
      background-color: rgba(153, 158, 163, 0.2);
      color: #1fa2f1; }
  .post_button-container_content span {
    font-size: 15px; }
  .post_button-container.pink .post_button-container_content.active button,
  .post_button-container.pink .post_button-container_content.active span {
    color: #e2225e; }
  .post_button-container.green .post_button-container_content.active button,
  .post_button-container.green .post_button-container_content.active span {
    color: green; }

.profile .profile_container {
  padding: 15px; }
  .profile .profile_container .photo-cover_container {
    position: relative; }

.cover-image_area {
  position: relative; }
  .cover-image_area .cover-image {
    height: 300px; }
    .cover-image_area .cover-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px; }
  .cover-image_area .cover-image_actions {
    position: absolute;
    bottom: 0;
    right: 30px; }
    .cover-image_area .cover-image_actions button:hover i {
      color: #f91880; }

.avatar-area {
  position: absolute;
  bottom: -80px;
  left: 30px; }
  .avatar-area .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ff006a; }
    .avatar-area .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
  .avatar-area .avatar_action {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
    .avatar-area .avatar_action .button_open-modal {
      position: absolute;
      bottom: 40%;
      left: 37%; }
      .avatar-area .avatar_action .button_open-modal i {
        color: #f91880;
        transition: 0s;
        opacity: 1; }
        .avatar-area .avatar_action .button_open-modal i:hover {
          color: #f91880; }
  .avatar-area:hover .avatar_action {
    visibility: visible;
    opacity: 1;
    cursor: pointer; }
