<% extend('../master') %>

<!-- -------------------------------------------- -->
<!-- --------------- SEARCH PAGE ---------------- -->
<!-- -------------------------------------------- -->
<div class="search">
  <!-- Title -->
  <div class="title_container">
    <span>Search</span>
  </div>
  <!-- content -->
</div>
