.boder {
  border: 1px solid $borderColor;
}

button {
  border: none;
  padding: 0 4px;
  background: transparent;
  color: $textGreyDim;
  border-radius: 50%;
  transition: 0.4s;

  i,
  span {
    pointer-events: none;
  }

  .pink {
    color: $pink;
  }
  .green {
    color: green;
  }
}

.button_open-modal {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  color: $textGreyDim;
  transition: all 0.3s ease-in-out;

  &:hover i {
    color: $primaryColor;
  }
}
.follow {
  padding: 4px 8px;
  font-size: 12px;
  background-color: $primaryColor;
  color: white;
  border-radius: 10px;
  &:hover {
    background-color: #c61172;
  }
}

.button_action-sm {
  color: $greyText;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  transition: 0.4s;
  border: 0;
  background-color: transparent;
  &:hover {
    color: $pink;
    background-color: rgba($color: $grey, $alpha: 0.2);
  }
}

.displayName {
  text-decoration: none;
  font-weight: bold;
  color: $greyDim;
  transition: 0.3s;

  &:hover {
    text-decoration: underline;
    color: $pink;
  }
}
.username {
  color: $textGrey;
  font-size: 13px;
}
.date {
  @extend .username;
  flex: 1;
}

.bg-grey-dim {
  background-color: $bgColor;
}

.text-primary {
  color: $primaryColor !important;
}

// custom theme modal bootstrap
.modal {
  .modal-title {
    font-size: 16px;
  }
  .button-close {
    background: transparent;
    color: #7a7a7a;
    transition: all 0.3s ease-in-out;
    font-size: 20px;

    &:hover {
      color: $primaryColor;
    }
  }
}
