<!-- MESSAGE LIST FRIEND CHAT -->
<div class="message>
<div class="container">
  <div class="row chat_list">
    <!-- <div class="chat_list"> -->

    <!-- Chat list title  -->
    <div class="chat_list_title">
      <div class="head_title">
        <h5>Chats</h5>
      </div>

      <div class="head_icon">
        <a href=""><i class="fas fa-search"></i></a>
        <a href=""> <i class="fas fa-plus"></i> </a>
      </div>
    </div>

    <!-- Chat list options -->
    <div class="chat_list_options">
      <a href="">
        <button class="open_button active">Active</button>
      </a>
      <a href="">
        <button class="open_button">Done</button>
      </a>
      <a href="">
        <button class="open_button unread_button" disabled>Unread</button>
      </a>
    </div>

    <!-- Chat list friend -->
    <div class="chat_list_friends scroll">
      <!-- Members -->
      <div class="row chat_list_member active">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1371/PNG/512/batman_90804.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1371/PNG/512/batman_90804.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1371/PNG/512/batman_90804.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1371/PNG/512/batman_90804.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1371/PNG/512/batman_90804.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1371/PNG/512/batman_90804.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>

      <!-- Members -->
      <div class="row chat_list_member">
        <div class="col-lg-3 member_avatar">
          <img
            src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043260-avatar-male-man-portrait_113269.png"
            alt=""
          />
        </div>

        <div class="col-lg-9 member_body">
          <div class="member_name">
            <h5>Tonny</h5>
          </div>
          <div class="member_text">
            <p>You: Have nice day!</p>
          </div>
        </div>

        <div class="col-2 member_time">
          <span class="time_active">25m</span>
        </div>
      </div>
    </div>

    <div class="chat_list_help">
      <a href="">Help!</a>
      <i class="fas fa-info"></i>
    </div>

    <!-- </div> -->
  </div>
</div>
