<% extend('../master') %>
<!-- -------------------------------------------- -->
<!-- --------------- HOME PAGE ------------------ -->
<!-- -------------------------------------------- -->
<div class="home">
  <div class="title_container">
    <span>Home</span>
  </div>

  <!-- Content -->
  <div class="posts_container">
    <!-- post form fields -->
    <div class="post_form-container">
      <!-- user img -->
      <div class="user_image-container">
        <img src="./assets/img/avatar.png" alt="User's profile picture" />
      </div>

      <!-- form -->
      <div class="textarea_container">
        <textarea id="postTextarea" placeholder="What's happending?"></textarea>
        <div class="buttons_container">
          <!-- user input: remove disabled -->
          <button id="submitPostButton" disabled>Post</button>
        </div>
      </div>
    </div>

    <!-- posts -->
    <div class="posts_wrapper">
      <!-- posts content container -->
      <div class="post">
        <!-- <div class="post__action-container">${retweetText}</div> -->
        <div class="post_main-content-container">
          <!-- avatar -->
          <div class="user_image-container">
            <img src="./assets/img/avatar.png" alt="User's profile picture" />
          </div>

          <!-- post content -->
          <div class="post_content-container">
            <!-- post header -->
            <div class="post_header">
              <!-- info -->
              <a class="displayName" href="/profile/">minhch</a>
              <span class="username">@minhch</span>
              <span class="date">3 giờ</span>

              <!-- buttons -->
              <button
                class="button_open-modal button_action-sm"
                data-bs-toggle="modal"
                data-bs-target="#pinPostModal"
              >
                <i class="remove-pointer-events fas fa-thumbtack"></i>
              </button>
              <button
                class="button_open-modal button_action-sm"
                data-bs-toggle="modal"
                data-bs-target="#deletePostModal"
              >
                <i class="remove-pointer-events fas fa-times"></i>
              </button>
            </div>
            <!-- post body -->
            <div class="post_body">
              <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellat totam quod, quae id vero similique iste ut, animi,
                placeat praesentium distinctio dolorem sed expedita pariatur
                provident? Libero odit quia eligendi.</span
              >
            </div>

            <!-- post footer -->
            <div class="post_footer">
              <div class="post_button-container">
                <div class="post_button-container_content">
                  <button
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#replyModal"
                  >
                    <i class="far fa-comment"></i>
                  </button>
                </div>
              </div>

              <div class="post_button-container green">
                <div
                  class="
                    post_button-container_content
                    active
                    remove-pointer-events
                  "
                >
                  <button class="retweet-button">
                    <i class="fas fa-retweet"></i>
                  </button>
                  <span class="number-retweets">2</span>
                </div>
              </div>
              <div class="post_button-container pink">
                <div class="post_button-container_content active">
                  <button class="like-button">
                    <i class="far fa-heart"></i>
                  </button>
                  <span class="number-likes">32</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- posts content container -->
      <div class="post">
        <!-- <div class="post__action-container">${retweetText}</div> -->
        <div class="post_main-content-container">
          <!-- avatar -->
          <div class="user_image-container">
            <img src="./assets/img/avatar.png" alt="User's profile picture" />
          </div>

          <!-- post content -->
          <div class="post_content-container">
            <!-- post header -->
            <div class="post_header">
              <!-- info -->
              <a class="displayName" href="/profile/">minhch</a>
              <span class="username">@minhch</span>
              <span class="date">3 giờ</span>

              <!-- buttons -->
              <button class="button_action-sm">
                <i class="remove-pointer-events fas fa-thumbtack"></i>
              </button>
              <button class="button_action-sm">
                <i class="remove-pointer-events fas fa-times"></i>
              </button>
            </div>

            <!-- post body -->
            <div class="post_body">
              <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellat totam quod, quae id vero similique iste ut, animi,
                placeat praesentium distinctio dolorem sed expedita pariatur
                provident? Libero odit quia eligendi.</span
              >
            </div>

            <!-- post footer -->
            <div class="post_footer">
              <div class="post_button-container">
                <div class="post_button-container_content">
                  <button
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#replyModal"
                  >
                    <i class="far fa-comment"></i>
                  </button>
                </div>
              </div>

              <div class="post_button-container green">
                <div
                  class="
                    post_button-container_content
                    active
                    remove-pointer-events
                  "
                >
                  <button class="retweet-button">
                    <i class="fas fa-retweet"></i>
                  </button>
                  <span class="number-retweets">2</span>
                </div>
              </div>
              <div class="post_button-container pink">
                <div class="post_button-container_content active">
                  <button class="like-button">
                    <i class="far fa-heart"></i>
                  </button>
                  <span class="number-likes">32</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
