.title_container {
    p {
        padding-top: 10px;
        font-size: 1.2rem;
        font-weight: 600;

        i {
            color: #5352ed;
            padding-right: 14px;
        }
    }
}

.message_content {
    // height: 100%;
    // width: 100%;

}

.message_chat_name {
    padding: 24px 0;
    display: flex;
    align-items: center;
    .message_chat_icon {
        display: flex;
        justify-content: space-evenly;
    }
    a {
        text-decoration: none;
        color: #5352ed;
        &:hover {
            opacity: 0.7;
            transition: .5s;
        }
    }
}

.message_chat_page {
    height: 550px;
    overflow-y: scroll;

    

    .message_time_chat {
        p {
            text-align: center;
            padding: 12px 0;
        }
    }

}

// Define scroll
.message_chat_page::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
    border-radius: 5px;
}

.message_chat_page::-webkit-scrollbar-thumb {
	background-color: #374950;
	border-radius: 5px;
}

.message_chat_box {
    ::after {
        content: "";
        display: block;
        clear: both;
    }
}

.message_received {
    margin-bottom: 12px;
    padding: 12px 0px;
    display: block;
    .message_received_img {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }

    .message_received_msg {
        // change width of text
        width: auto; 
        padding: 0 0 0 12px;
        vertical-align: top;
        display: inline-block;
    }

    .message_received_text {
        width: 100%;
        p {
            background: #374950 none repeat scroll 0 0;
            border-radius: 12px;
            padding: 6px 12px;
        }
        span {
            display: none;
        }

        &:hover span {
            display: block;
            transition: 1s;
            font-size: 0.8rem;
            margin-top: -12px;  
        }
        .message_received_time {
            float: right;
        } 
        
    }
}

.message_owner {
    float: right;
    width: 100%;

    .message_owner_img {
        float: right;
    }

    .message_owner_msg {
        padding: 0 12px 0 0;
        vertical-align: top;
        float: right;
    }

    .message_owner_text {
        p {
            background-color: #5352ed;
        }

        .message_owner_time {
            float: left;
        } 
    }
}

.message_chat_send {
    // margin-bottom: 16px;
    i {
        text-align: center;
        font-size: 1.3rem;
        color: #5352ed;
        padding-top: 6px;

        &:hover {
            opacity: 0.7;
            transition: .5s;
        }
    }

    input {
        width: 100%;
        padding: 6px 12px;
        outline: none;
        border: none;
        color: $text-white;
        background-color: $bg-color;
        border: 1px solid $border-color;
        border-radius: 8px;
    }
}