body {
    font-family: 'Poppins', sans-serif;
}


.boder {
	border: 1px solid $border-color;
}

.button_open-modal {
    outline: none;
    border: none;
    background: transparent;

    i {
        font-size: 1.8rem;
        color: $text-grey-dim;
        opacity: 0.3;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 1;
            color: rgb(255, 0, 106);
        }
    }
}