$text-white: #f0f1f2;
$text-grey: #999ea3;
$text-grey-dim: #5989a6;
$primary-color: #f91880;
$bg-color: #15202b;
$spacing: 15px;
$border-color: #38444d;
$grey: #999ea3;
$grey-dim: #5989a6;
$pink: rgb(226, 34, 94);
$pink-light: rgb(197, 71, 111);

$blue: #1fa2f1;
$blueLight: #9bd1f9;
$blueBackground: rgba($blue, 0.2);
$buttonHoverBg: #d4edff;
$lightGrey: rgb(230, 236, 240);
$spacing: 15px;
$greyText: #9e9e9e;
$greyButtonText: rgba(39, 39, 39, 0.34);
$red: rgb(226, 34, 94);
$green: #26de81;
