$white: #f0f1f2;
$textGrey: #999ea3;
$textGreyDim: #5989a6;
$primaryColor: #f91880;
$bgColor: #15202b;
$spacing: 15px;
$borderColor: #38444d;
$grey: #999ea3;
$greyDim: #5989a6;
$pink: rgb(226, 34, 94);
$pinkLight: rgb(197, 71, 111);

$blue: #1fa2f1;
$blueLight: #9bd1f9;
$blueBackground: rgba($blue, 0.2);
$buttonHoverBg: #d4edff;
$lightGrey: rgb(230, 236, 240);
$spacing: 15px;
$greyText: #9e9e9e;
$greyButtonText: rgba(39, 39, 39, 0.34);
$red: rgb(226, 34, 94);
$green: #26de81;

$heightCoverImage: 250px;
$widthAvatar: 120px;
$heightAvatar: 120px;
