$text-white: #f0f1f2;
$text-grey: #999ea3;
$text-grey-dim: #5989a6;
$primary-color: #f91880;
$bg-color: #15202b;
$spacing: 15px;
$border-color: #38444d;


$heightCoverImage: 300px;

$widthAvatar: 150px;
$heightAvatar: 150px;