<div class="sidebar">
  <!-- Logo -->
  <div class="logo">
    <img src="./assets/img/shuttle.svg" alt="Dong A" />
  </div>

  <!-- Menu -->
  <div class="menu">
    <ul class="menu-list">
      <!-- Home -->
      <li class="menu-item active">
        <a href="/"><i class="fas fa-home"></i></a>
      </li>
      <!-- Search -->
      <li class="menu-item">
        <a href="/search"><i class="fas fa-search"></i></a>
      </li>
      <!-- Notifications -->
      <li class="menu-item">
        <a href="/"><i class="fas fa-bell"></i></a>
      </li>
      <!-- Message -->
      <li class="menu-item">
        <a href="/message"><i class="far fa-envelope"></i></a>
      </li>
      <!-- Profile -->
      <li class="menu-item">
        <a href="/profile"><i class="fas fa-user"></i></a>
      </li>

      <!-- Logout -->
      <li class="menu-item">
        <a href=""><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </div>

  <!-- Account menu -->
  <div class="account-menu">
    <!-- avatar -->
    <div class="avatar">
      <span class="dot activate"></span>
      <img src="./assets/img/avatar.png" alt="avatar" />
    </div>

    <!-- Modal -->
    <!-- Actions -->
  </div>
</div>
